@page "/"

<PageTitle>Autószerelő_Beadandó</PageTitle>

<h1>NA GYEREKEK HELÓ SZIASZTOK!</h1>

Itt kezdődik el az orbitális szopás csak úgy mondom:c

<SurveyPrompt Title="Szopni akartok? Csabi Miron jó helyen jártok!" />
