@page "/munkafelvetel"

<PageTitle>Munkafelvétel</PageTitle>

<h1>Munkafelvétel</h1>

<p role="status">Current count: @currentCount</p>

<table border=2>
  <tr>
    <th>Név</th>
    <th>Típus</th>
    <th>Rendszám</th>
    <th>Gyártási év</th>
    <th>Munka kategória</th>
    <th>Hiba leírás</th>
    <th>Súlyosság</th>
  </tr>
  <tr>
    <td><input type="text" id="fname" name="fname" size="18"></td> <!--nev-->
    <td><input type="text" id="ftipus" name="ftipus" size="15"></td> <!--tipus-->
    <td><input type="text" id="frendszam" name="frendszam" size="15"></td> <!--rendszam-->
    <td><input type="number" id="fev" name="fev" size="10"></td> <!--ev-->

    <select name="kategoria" id="category">
      <option value="karosszeria">Karosszéria</option>
      <option value="motor">Motor</option>
      <option value="futomu">Futómű</option>
      <option value="fekberendezes">Fékberendezés</option>   
    </select>

    <td><input type="text" id="fleiras" name="fleiras" size="20"></td> <!--leiras-->
    <td><input type="text" id="fsuly" name="fsuly" size="10"></td> <!--sulyossal-->
  </tr>
</table>

<button class="btn btn-primary" @onclick="AddToDatabase">Küldés</button>

@code {    
    private int currentCount = 0;


    private void AddToDatabase()
    {
        
    }
}
