@page "/munkafelvetel"
@using autoszerelo_munka_felvevo.Model
@inject HttpClient HttpClient


<PageTitle>Munkafelvétel</PageTitle>

<h1>Munkafelvétel</h1>

<table border=2 class="table table-light">
  <tr>
    <th>Név</th>
    <th>Típus</th>
    <th>Rendszám</th>
    <th>Gyártási év</th>
    <th>Munka kategória</th>
    <th>Hiba leírás</th>
    <th>Súlyosság</th>
  </tr>
  <tr>
    <td><input type="text" id="fname" name="fname" size="18" @bind="ujmunka.Nev"></td>
    <td><input type="text" id="ftipus" name="ftipus" size="15" @bind="ujmunka.Tipus"></td>
    <td><input type="text" id="frendszam" name="frendszam" size="15" @bind="ujmunka.Rendszam"></td>
        <td><input type="number" id="fev" name="fev" size="10" @bind="ujmunka.Ev"></td>

    <select name="kategoria" id="category"  @bind="ujmunka.Kategoria">
      <option value="karosszeria">Karosszéria</option>
      <option value="motor">Motor</option>
      <option value="futomu">Futómű</option>
      <option value="fekberendezes">Fékberendezés</option>   
    </select>

    <td><input type="text" id="fleiras" name="fleiras" size="20" @bind="ujmunka.Leiras"></td>
    <td><input type="text" id="fsuly" name="fsuly" size="10" @bind="ujmunka.Sulyossag"></td>
  </tr>
</table>

<button class="btn btn-primary" @onclick="HozzaadasAdatbazishoz">Küldés</button>

@code {

    public Munka ujmunka = new Munka();

    protected async Task HozzaadasAdatbazishoz()
    {
        Console.WriteLine("uj munka: " + ujmunka.Nev);
        var valasz = await HttpClient.PostAsJsonAsync("http://localhost:5248/Database", ujmunka);
        if (valasz.IsSuccessStatusCode)
        {
            Console.WriteLine("Atment elv!");
        }
        else
        {
            Console.WriteLine("Gatya");
        }

        //Reset...
        ujmunka = new Munka();
    }
}
